.button,
.enter,
.clear {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  size: 18px;
  border: 1px solid black;
  margin: 2;
  font-family: 'Roboto', sans-serif;
}
#display {
  height: 40px;
  width: 244px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px;
  max-width: 328px;
  border: solid black 1px;
}
.button:hover,
.enter:hover,
.clear:hover {
  background-color: yellow;
}
.button:active,
.enter:active,
.clear:active {
  background-color: black;
  color: yellow;
}

body {
  background-color: cadetblue;
}
