.button {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  size: 18px;
  border: 1px solid black;
  margin: 0;
}
#display {
  height: 40px;
  width: 240px;
  border: 2px solid black;
}
.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px;
}
